@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.header {
    padding: 3rem 0 7rem;
    position: relative;
    background: #00a015;
    background-size: cover;
    z-index: 0;
}
.blueberry{
    background: url('images/images-blueberry/blueberry.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.montgomery{
    background: url('images/images-montgomery/montgomery.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1 {
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.1;
    z-index: 1;
}

.header h2 {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
    z-index: 1;
    font-size: 1.2rem;
}

.header a {
    color: rgba(255, 255, 255, .8);
    text-decoration: underline;
    z-index: 1;
}

@media(min-width:992px) {
    .header h1 {
        font-size: 3rem;
    }
    .header h2 {
        font-size: 1.5rem;
    }
}

.header .header-cards {
    position: relative;
    z-index: 1;
}

.header .header-cards .shape {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.58);
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

.header .header-cards .card {
    opacity: 1;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .05rem;
    color: #212529;
    transition: .15s all;
}

.header .header-cards .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
}

.header .header-cards .card:hover i {
    color: #00a015;
}

/*card places */

a{
text-decoration: none!important;
}
.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
  border: 2px solid #121212
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #12121200;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #000000;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #000000;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #525252;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item .dulezite {
  background-color: #f9b234;
}
.ag-courses_item .info {
  background-color: #3ecd5e;
}
.ag-courses_item .akce {
  background-color: #952aff;
}
.ag-courses_item .zajimave-misto {
  background-color: #cd3e94;
}
.ag-courses_item .fialova {
  background-color: #4c49ea;
}
.ag-courses_item .modra {
  background-color: #00d2f7;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}